 * {
     /* font-family: 'Inter', sans-serif; */
     /* padding: 0;
    margin: 0;  */
    
 }
.introContainer{
    padding: 25px 0 75px 0;
    height: 90vh;
}
.mainTitle{
    /* font-family: "Oswald", sans-serif !important; */
    font-family: "Merriweather", serif !important;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
}
.squeeze{
    margin-top: -25px;
}
.main{
    color:var(--main);
}
.para{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    z-index: 2;
}
.imgHolder{
    position: absolute;
    z-index: 3;
    top: 0px;
    right: -50px;
    opacity: 0.5;
}
.line{
    margin: auto;
    border-width: 2px;
    border-color: var(--main);
    opacity: 1;
    border-style: dotted;
}
.bs{
    background-image: linear-gradient(to right, var(--main) 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;
    width: 50%;
    height: 5px;
    margin: auto;
}

.Panle button{
    /* box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.171); */
    color: var(--white) !important;
    transition: 0.5s;
}
.Panle button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.start{
    font-family: "Merriweather", serif !important;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vw;
    font-size: 40px;
}
.end{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    z-index: 2;
}
.aboutme{
    gap:35px;
}

.el{
    font-family: "Playfair Display", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    cursor: pointer;
}
.el:hover{
    transition: 0.5s;
    transform: scale(1.15);
    transition-timing-function: ease-out;
}

.hardimg{
    height: 100px;

}

.projectimg{
    height: 25vw;
    width: 40vw !important;
    border-radius: 25px;
}
.blendparent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-flow: row dense;
    /* grid-auto-rows: 250px; */
}

.imgholder{
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* height: 300px; */
    max-height: 400px;
    width: 100%;
}
.double{
    max-height: 800px;
}
.blendimg{
    /* height: 100%; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}
.projecttitle{
    font-family: "Bebas Neue", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    color:#f0f6fd;
}
.projectdesc{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
}
.projectuse{
    font-family: "Bebas Neue", serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color:#f0f6fd;
}

.colored{
    background-color: var(--main);
}

.but{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 20px !important;
    font-weight: 400 !important;
    letter-spacing: 2px;
}
.but:hover{
    color: var(--second);
}
.butline{
    margin-top: 2px;
    height: 2px;
    background-color: var(--second);
    color: var(--second);
    width: 100px;
}

.iconbutton{
    color: var(--white) !important;
    transition: 0.5s !important;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.iconbutton:hover{
    color: var(--second) !important;
    transition: 0.5s !important;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

 
@media (max-width: 960px) {
    .projectHolder{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .projectimg{
        height: 75vw !important;
        width: 90vw !important;
    }
    .projectcontent{
        width: 90% !important;
    }
    .para{
        visibility: hidden;
    }
    .mainTitle{
        font-size:50px !important;
    }
    .aboutme{
        flex-direction: column !important;
    }
}

.cvbtn{
    width: fit-content;
}